<div id="daily-feeds" class="card updates daily-feeds">
    <div id="feeds-header" class="card-header d-flex justify-content-between align-items-center">
        <h2 class="h5 display">
            <a data-toggle="collapse" data-parent="#daily-feeds" href="#feeds-box" aria-expanded="true" aria-controls="feeds-box">Serviços úteis </a>
        </h2>

    </div>
    <div id="feeds-box" role="tabpanel" class="collapse show">
        <div class="feed-box">
            <ul class="feed-elements list-unstyled">
                <!-- List-->
                <li class="clearfix">
                    <div class="feed d-flex justify-content-between">
                        <div class="feed-body d-flex justify-content-between">
                            <a href="#" class="feed-profile">
                                <img src="app/templatecode/img/avatar-5.jpg" alt="person" class="img-fluid rounded-circle">
                            </a>
                            <div class="content">
                                <strong>Bruna Gonçalves</strong>
                                <small>Engenheira agrônoma</small>
                                <div class="full-date">
                                    <small>Santa Maria - RS</small>
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <small>Contato</small>
                        </div>
                    </div>
                </li>
                <!-- List-->
                <li class="clearfix">
                    <div class="feed d-flex justify-content-between">
                        <div class="feed-body d-flex justify-content-between">
                            <a href="#" class="feed-profile">
                                <img src="app/templatecode/img/avatar-2.jpg" alt="person" class="img-fluid rounded-circle">
                            </a>
                            <div class="content">
                                <strong>Gustavo Silva</strong>
                                <small>Egenheiro agrônomo</small>
                                <div class="full-date">
                                    <small>Julho de Castilhos - RS</small>
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <small>Contato</small>
                        </div>
                    </div>
                </li>
                <!-- List-->
                <li class="clearfix">
                    <div class="feed d-flex justify-content-between">
                        <div class="feed-body d-flex justify-content-between">
                            <a href="#" class="feed-profile">
                                <img src="app/templatecode/img/avatar-3.jpg" alt="person" class="img-fluid rounded-circle">
                            </a>
                            <div class="content">
                                <strong>Maria Guerra</strong>
                                <small>Engenheira agrônoma </small>
                                <div class="full-date">
                                    <small>Santa Maria - RS</small>
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <small>Contato</small>
                        </div>
                    </div>
                </li>
                <!-- List-->
                <li class="clearfix">
                    <div class="feed d-flex justify-content-between">
                        <div class="feed-body d-flex justify-content-between">
                            <a href="#" class="feed-profile">
                                <img src="app/templatecode/img/avatar-6.jpg" alt="person" class="img-fluid rounded-circle">
                            </a>
                            <div class="content">
                                <strong>Rogério Martinez</strong>
                                <small>Veterinário</small>
                                <div class="full-date">
                                    <small>Santa Maria - RS</small>
                                </div>
                            </div>
                        </div>
                        <div class="date">
                            <small>Contato</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>