<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="/templatecodes/img/agro.png" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">AgroPro</h2>
            </div>
            <div class="sidenav-header-logo">
                <a href="index.html" class="brand-small text-center">
                    <strong>B</strong>
                    <strong class="text-primary">D</strong>
                </a>
            </div>
        </div>
        <div class="main-menu">
            <h5 class="sidenav-heading"></h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li>
                    <a [routerLink]="['/']">
                        <i class="icon-home"></i>Início </a>
                </li>
                <li>
                    <a  [routerLink]="['/implantacao']">
                        <i class="icon-bill" ></i>Nova safra </a>
                </li>
                <li>
                    <a [routerLink]="['/rastreabilidade']">
                        <i class="fa fa-bar-chart"></i>Rastreabilidade </a>
                </li>
                <li>
                    <a href="tables.html">
                        <i class="icon-flask"></i>Análise de solo </a>
                </li>
            </ul>
        </div>
    </div>
</nav>