<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="row d-flex align-items-md-stretch">
            <div class="col-lg-4 col-md-4">
                <div class="card d-flex">
                    <div class="card-header">
                        <h4>Colheita: {{cultura}}</h4>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label>Mquinário</label>
                            <div class="slidecontainer">
                                <input type="range" min="{{maqMin}}" max="{{maqMax}}" value="0" class="slider" id="1" (change)="handleMaquinario()" [(ngModel)]="maquinario">R${{maquinario}},00
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Transporte</label>
                            <div class="slidecontainer">
                                <input type="range" min="{{transMin}}" max="{{transMax}}" value="50" class="slider" id="2" (change)="handleTransporte()"
                                    [(ngModel)]="transporte">R${{transporte}},00
                            </div>
                        </div>

                        <div class="card-footer" *ngIf="trans != 0 ">
                            <div class="text-right">
                                <h4>Total</h4>
                                R${{y}}
                                <div class="offset-sm-2">
                                    <div class="form-group">
                                        <button class="btn btn-default btn-sm" (click)="handleCancel()">Cancelar</button>
                                        <button type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm">Salvar resultados</button>
                                    </div>
                                    <div class="line"></div>
                                    <div class="line"></div>
                                    <button type="submit" class="btn btn-primary btn-sm" [routerLink]="['/colheita']">Iniciar colheita</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>